@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

#app {
  font-family: "Noto Serif SC", serif;
  font-weight: 400;
  font-style: normal;

  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  overflow: hidden;
}


a,
.green {
  text-decoration: none;
  color: rgb(255, 238, 6);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(61, 100%, 20%, 0.322);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background: linear-gradient(45deg,#536976,#BBD2C5);
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}