@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  overflow: hidden;
}


a,
.green {
  text-decoration: none;
  color: rgb(255, 238, 6);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(61, 100%, 20%, 0.322);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background: black;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}